{% extends "main.html" %}

{% block extra_languages %}
<div id="extra_languages">
    <div id="wrapper" style="left: 1000px; top: 800px;">
        <div class="box-area">
          <div id="bigbox-front" class="bigbox">
            <img src="../static/images/a.png" width="400" height="400">
          </div>
          <div id="bigbox-right" class="bigbox">
            <img src="../static/images/b.png" width="400" height="400">
          </div>
          <div id="bigbox-back" class="bigbox">
            <img src="../static/images/c.png" width="400" height="400">
          </div>
          <div id="bigbox-left" class="bigbox">
            <img src="../static/images/d.png" width="400" height="400">
          </div>
          <div id="bigbox-top" class="bigbox"></div>
          <div id="bigbox-bottom" class="bigbox"></div>
        </div>
      </div>
</div>
{% endblock %}

{% block extra_browser %}
<div id="extra_languages">
  <div id="wrapper" style="left: 950px; top: 1725px;">
      <div class="box-area">
        <div id="smallbox-front" class="smallbox">
          <img src="../static/images/js.png" width="200" height="200">
        </div>
        <div id="smallbox-right" class="smallbox">
          <img src="../static/images/js.png" width="200" height="200">
        </div>
        <div id="smallbox-back" class="smallbox">
          <img src="../static/images/jsr.png" width="200" height="200">
        </div>
        <div id="smallbox-left" class="smallbox">
          <img src="../static/images/jsr.png" width="200" height="200">
        </div>
        <div id="smallbox-top" class="smallbox"></div>
        <div id="smallbox-bottom" class="smallbox"></div>
      </div>
    </div>
    <div id="wrapper" style="left: 800px; top: 1975px;">
      <div class="box-area">
        <div id="smallbox-front" class="smallbox">
          <img src="../static/images/html.png" width="200" height="200">
        </div>
        <div id="smallbox-right" class="smallbox">
          <img src="../static/images/html.png" width="200" height="200">
        </div>
        <div id="smallbox-back" class="smallbox">
          <img src="../static/images/htmlr.png" width="200" height="200">
        </div>
        <div id="smallbox-left" class="smallbox">
          <img src="../static/images/htmlr.png" width="200" height="200">
        </div>
        <div id="smallbox-top" class="smallbox"></div>
        <div id="smallbox-bottom" class="smallbox"></div>
      </div>
    </div>
    <div id="wrapper" style="left: 1100px; top: 1975px;">
      <div class="box-area">
        <div id="smallbox-front" class="smallbox">
          <img src="../static/images/css.png" width="200" height="200" >
        </div>
        <div id="smallbox-right" class="smallbox">
          <img src="../static/images/css.png" width="200" height="200">
        </div>
        <div id="smallbox-back" class="smallbox">
          <img src="../static/images/cssr.png" width="200" height="200">
        </div>
        <div id="smallbox-left" class="smallbox">
          <img src="../static/images/cssr.png" width="200" height="200">
        </div>
        <div id="smallbox-top" class="smallbox"></div>
        <div id="smallbox-bottom" class="smallbox"></div>
      </div>
    </div>
</div>
{% endblock %}

{% block extra_frameworks %}
{% endblock %}

{% block extra_databases %}
{% endblock %}

{% block extra_deployment %}
{% endblock %}

{% block extra_version_control %}
{% endblock %}








