{% extends "main.html" %}

{% block extra_languages %}
<div id="extra_languages">
    <div id="wrapper">
        <div class="box-area">
          <div id="box-front" class="box">
            <img src="../static/images/a.png" width="400" height="400">
          </div>
          <div id="box-right" class="box">
            <img src="../static/images/b.png" width="400" height="400">
          </div>
          <div id="box-back" class="box">
            <img src="../static/images/c.png" width="400" height="400">
          </div>
          <div id="box-left" class="box">
            <img src="../static/images/d.png" width="400" height="400">
          </div>
          <div id="box-top" class="box"></div>
          <div id="box-bottom" class="box"></div>
        </div>
      </div>
</div>
   
{% endblock %}

{% block extra_frameworks %}
{% endblock %}

{% block extra_databases %}
{% endblock %}

{% block extra_deployment %}
{% endblock %}

{% block extra_version_control %}
{% endblock %}








