{% extends "macro.html" %}


{% block nameblock %}
{{ bwsection(namedata) }}
{% endblock %}

{% block contactblock %}
<section class="darkblock wrapdat">
{{ bwsection(contactdata)}}
</section>
<div class="hstack">
  <div class="darkblock">} ,</div> 
</div>
{% endblock %}

{% block skillsblock %}
  {% for key, data in skillsdata %}
    <section class="darkblock wrapdat">
      {% if key == "languages"%}
        <div class="vstack"> 
          <div class="hstack">
            <div class="lightblock"> <q> {{key}}</q> </div>
            <div class="darkblock"> : {</div>
          </div>
          {{ bwsection(data.items())}}
          <div class="hstack">
            <div class="darkblock"> } , </div>
          </div>
        </div>
    {% block extra_languages %}{% endblock %}
        
      {% elif key == "frameworks" or key == "databases"%}
        <div class="vstack">
          <div class="hstack">
            <div class="lightblock"> <q>{{key}}</q> </div> 
            <div class="darkblock">: [</div>
          </div>
          {{ bwlist(data)}}
          <div class="hstack">
            <div class="darkblock">] ,</div>
          </div>
        </div>
      {% else %}
        <div>
          {% set the_data = {key: data}.items()%}
          {{ bwsection(the_data)}}
        </div>
      {% endif %}
    </section>  
  {% endfor %}
{% endblock %}

{% block projectsblock %}
  {% for key, data in projectsdata %}
    <section class="darkblock wrapdat">
        <div class="vstack">
          <div class="hstack">
            <div class="lightblock"> <q>{{key}}</q> </div> 
            <div class="darkblock">: [</div>
          </div>
        {{ bwlist(data) }}
          <div class="hstack">
            <div class="darkblock">] ,</div>
          </div>
    </section>  
  {% endfor %}
{% endblock %}

{% block experienceblock %}
  {% for key, data in experiencedata %}
    <section class="darkblock ">
        <div class="vstack">
          <div class="hstack">
            <div class="lightblock"> <q>{{key}}</q> </div> 
            <div class="darkblock">: [</div>
          </div>
        {{ bwlist(data) }}
          <div class="hstack">
            <div class="darkblock">] ,</div>
          </div>
    </section>  
  {% endfor %}
{% endblock %}

{% block educationblock %}
  {% for key, data in educationdata %}
    <section class="darkblock ">
        <div class="vstack">
          <div class="hstack">
            <div class="lightblock"> <q>{{key}}</q> </div> 
            <div class="darkblock">: [</div>
          </div>
        {{ bwlist(data) }}
          <div class="hstack">
            <div class="darkblock">] ,</div>
          </div>
    </section>  
  {% endfor %}
{% endblock %}

{% block footerblock %}
<a class="darkblock " href="/api">Get JSON</a>
{% endblock %}
  

