{% extends "macro.html" %}


{% block nameblock %}
{{ wbsection(namedata) }}
{% endblock %}

{% block contactblock %}
{{ wbsection(contactdata)}}
{% endblock %}

{% block skillsblock %}
  {% for key, data in skillsdata %}
    <section class="darkblock marginbox wrapdat">
      {% if key == "languages"%}
        <div> 
          <h1> <q>  {{key}}</q> : {</h1>
          {{ bwsection(data.items())}}
          <h1>} ,</h1>
        </div>
        <div id="extra_{{key}}">
          {% block extra_languages %}{% endblock %}
        </div>
      {% elif key == "frameworks" or key == "databases"%}
        <div>
          <h1> <q>{{key}}</q> : [</h1>
          {{ bwlist(data)}}
          <h1>] ,</h1>
        </div>
        <div id="extra_{{key}}">
          {% if key == "frameworks" %}
            {% block extra_frameworks %}{% endblock %}
          {% else%}
            {% block extra_databases %}{% endblock %}
          {% endif %}
        </div>
      {% else %}
        <div>
          {% set the_data = {key: data}.items()%}
          {{ bwsection(the_data)}}
        </div>
        <div id="extra_{{key}}">
          {% if key == "deployment" %}
            {% block extra_deployment %}{% endblock %}
          {% else%}
            {% block extra_version_control %}{% endblock %}
          {% endif %}
        </div>
      {% endif %}
    </section>  
  {% endfor %}
{% endblock %}

{% block projectsblock %}
  {% for key, data in projectsdata %}
    <section class="lightblock marginbox">
        <h1> <q>{{key}}</q> : [</h1>
        {{ wblist(data) }}
        <h1>] ,</h1>
    </section>  
  {% endfor %}
{% endblock %}

{% block experienceblock %}
  {% for key, data in experiencedata %}
    <section class="lightblock marginbox">
        <h1> <q>{{key}}</q> : [</h1>
        {{ wblist(data) }}
        <h1>] ,</h1>
    </section>  
  {% endfor %}
{% endblock %}

{% block educationblock %}
  {% for key, data in educationdata %}
    <section class="darkblock marginbox">
        <h1> <q>{{key}}</q> : [</h1>
        {{ bwlist(data) }}
        <h1>] ,</h1>
    </section>  
  {% endfor %}
{% endblock %}

{% block footerblock %}
<a class="darkblock marginbox" href="/api">Get JSON</a>
{% endblock %}
  

