#wrapper {
    position: absolute;
    perspective: 1500px;
    z-index: 1;
  }
  
  .box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 40s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: rotate;
    -moz-animation-duration: 40s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  @-webkit-keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  @-moz-keyframes rotate {
      0% { transform: rotate3d(0, 0, 0, 0);}
      50% {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      100% { transform: rotate3d(0, 1, 0, 360deg);}
  }
  .bigbox {
    position: absolute;
    width: 400px;
    height: 400px;
  }
  .smallbox {
    position: absolute;
    width: 200px;
    height: 200px;
  } 
  .colorstuff{
    background-color: #081e37a8;
    border: 3px solid #606fe4;
  } 
  #bigbox-front {
    -webkit-transform: translateX(-200px) translateY(-200px) translateZ(200px);
    -moz-transform: translateX(-200px) translateY(-200px) translateZ(200px);
    transform: translateX(-200px) translateY(-200px) translateZ(200px);
    @extend .colorstuff;
  }
  #smallbox-front {
    -webkit-transform: translateX(-100px) translateY(-100px) translateZ(100px);
    -moz-transform: translateX(-100px) translateY(-100px) translateZ(100px);
    transform: translateX(-100px) translateY(-100px) translateZ(100px);
    @extend .colorstuff;
  }
  #bigbox-back {
    -webkit-transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    -moz-transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    @extend .colorstuff;
  }
  #smallbox-back {
    -webkit-transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    -moz-transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    @extend .colorstuff;
  }
  #bigbox-right {
    -webkit-transform: translateY(-200px) rotateY(90deg);
    -moz-transform: translateY(-200px) rotateY(90deg);
    transform: translateY(-200px) rotateY(90deg);
    @extend .colorstuff;
  }
  #smallbox-right {
    -webkit-transform: translateY(-100px) rotateY(90deg);
    -moz-transform: translateY(-100px) rotateY(90deg);
    transform: translateY(-100px) rotateY(90deg);
    @extend .colorstuff;
  } 
  #bigbox-left {
    -webkit-transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    -moz-transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    @extend .colorstuff;
  }
  #smallbox-left {
    -webkit-transform: translateY(-100px) translateX(-200px) rotateY(90deg);
    -moz-transform: translateY(-100px) translateX(-200px) rotateY(90deg);
    transform: translateY(-100px) translateX(-200px) rotateY(90deg);
    @extend .colorstuff;
  }
  #bigbox-top {
    -webkit-transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    -moz-transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    transform: translateX(-200px) translateY(-200px) rotateX(90deg);
    @extend .colorstuff;
  }   
  #smallbox-top {
    -webkit-transform: translateX(-100px) translateY(-100px) rotateX(90deg);
    -moz-transform: translateX(-100px) translateY(-100px) rotateX(90deg);
    transform: translateX(-100px) translateY(-100px) rotateX(90deg);
    @extend .colorstuff;
  }   
  #bigbox-bottom {
    -webkit-transform: translateX(-200px) rotateX(90deg);
    -moz-transform: translateX(-200px) rotateX(90deg);
    transform: translateX(-200px) rotateX(90deg);
    @extend .colorstuff;
  }
  #smallbox-bottom {
    -webkit-transform: translateX(-100px) rotateX(90deg);
    -moz-transform: translateX(-100px) rotateX(90deg);
    transform: translateX(-100px) rotateX(90deg);
    @extend .colorstuff;
  } 
  .box-area {
      -webkit-transform: rotateX(90deg) rotateY(90deg);
      -moz-transform: rotateX(90deg) rotateY(90deg);
      transform: rotateX(90deg) rotateY(90deg)
  }
  